.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  background-image: url('./loginBackround.svg');
}

.loginForm {
  background-color: #131212;
  opacity: 90%;
  padding: 60px;
  border-radius: 10px;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
}

.loginButton {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #0f203d;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15%;
}

.loginButton:hover {
  background-color: #233149;
}
